* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-image: linear-gradient(
    45deg,
    hsl(259deg 69% 54%) 0%,
    hsl(255deg 72% 61%) 8%,
    hsl(251deg 74% 68%) 17%,
    hsl(248deg 75% 74%) 25%,
    hsl(245deg 75% 79%) 33%,
    hsl(243deg 71% 85%) 42%,
    hsl(240deg 59% 89%) 50%,
    hsl(289deg 67% 89%) 58%,
    hsl(325deg 100% 90%) 67%,
    hsl(353deg 100% 89%) 75%,
    hsl(24deg 100% 84%) 83%,
    hsl(41deg 100% 79%) 92%,
    hsl(55deg 87% 75%) 100%
  );
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

#temp {
  display: flex;
  gap: 25px;
  font-size: 20px;
  color: rgb(157, 81, 160);
}

#C {
  color: rgb(93, 33, 204);
}

#C:hover, 
#F:hover {
  cursor: pointer;
}
h1 {
  color: rgb(93, 33, 204);
}

#weather-data {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#search-location {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: antiquewhite;
}

input {
  width: 400px;
  height: 50px;
  border: none;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  height: 40px;
  width: 50px;
  cursor: pointer;
}

#icon {
  height: 30px;
  width: 30px;
}

#current {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 25px;
  width: 600px;
  flex-wrap: wrap;
  background-color: rgba(200, 86, 136, 0.2);
  border-radius: 10px;
  color:  rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 20px;
}

#hourly,
#daily {
  display: flex;
  /* gap: 28px; */
  position: relative;
  width: max-content;
  background-color:rgba(180, 86, 200, 0.2); 
  color:  rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 20px;
}

#hourly > *,
#daily > * {
  padding: 35px;
  width: 200px;
  flex-shrink: 0;
}

.frame {
  width: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0.8);

  padding: 7px 12px;
  border-radius: 50%;
  color: rgba(199, 70, 238, 0.9) ;
  font-weight: 1000;
  z-index: 10;
}

.left {
  left: 7px;
}

.right {
  right: 7px;
}
